body {
    font-family: "quicksand", sans-serif;
    margin: 0%;
    position: relative;
}

header {
    padding: 15px 60px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    width: 100%;
    box-sizing: border-box;
}

#page-logo a {
    padding: 10px;
    color: rgb(227, 228, 122);
    font-family: 'Pacifico', cursive;
    font-size: 50px;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: bold;
    text-shadow: -5px -3px 2px rgb(0, 0, 0);
}

#page-logo a:hover {
    text-shadow: -8px -5px 10px rgb(0, 0, 0);
}

ul {
    list-style: none;
    /* margin: 0px; */
    /* padding: 0px; */
    font-weight: bold;
}

header ul {
    display: flex;
    justify-content: space-between;

}

header li {
    margin: 10px;
}

header nav a {
    color: rgb(255, 252, 75);
    text-decoration: none;
    padding: 4px;
}

header nav a:hover {
    background-color: rgba(229, 244, 60, 0.6);
    border-radius: 4px;
    color: black;
}

footer {
    background: linear-gradient(to top left, rgb(24, 24, 24), rgb(0, 0, 0));
    padding: 40px 0;
}

footer ul {
    display: flex;
    justify-content: center;
}

footer li {
    width: 80px;
    height: 80px;
    margin-right: 50px;
}

footer img {
    width: 100%;
    height: 100%;
}